{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.category_details'|trans({'%id%': category.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.category_details'|trans({'%id%': category.id|default('')}) }}</h1>
    {% if category is defined and category|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ category.id }}</dd>
            <dt>{{ 'label.title'|trans }}</dt>
            <dd>{{  category.title }}</dd>
            <dt>{{ 'label_post'|trans }}</dt>
            <dd>
                {% for post in category.posts %}
                    <a href="{{ url('post_show', {id: post.id}) }}" title="{{ 'post_show'|trans }}">
                        {{ post.title }}
                    </a><br>
                {%  endfor %}
            </dd>
        </dl>
        <p>
            <a href="{{ url('category_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}