{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.photo_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.photo_list'|trans }}</h1>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <p>
        <a href="{{ url('photo_create') }}" title="{{ 'action.create'|trans }}">
            {{ 'action.create'|trans }}
        </a>
        <a href="{{ url('tags_filtrate') }}" title="{{ 'action.filtrate'|trans }}">
            {{ 'action.filtrate'|trans }}
        </a>
    </p>
    {% endif %}
    {% if pagination is defined and pagination.items|length %}

        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'photo.id') }}</th>
                <th scope="col">{{ knp_pagination_sortable(pagination, 'label.date'|trans, 'photo.date') }}</th>
                <th scope="col">{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'photo.title') }}</th>
                <th scope="col">{{ 'label.gallery'|trans }}</th>
                <th scope="col">{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for photo in pagination.items %}
                <tr>
                    <td>{{ photo.id }}</td>
                    <td>{{ photo.date|date('d/m/Y') }}</td>
                    <td>{{ photo.title }}</td>
{#                    <td>{{ photo.tags }}</td>#}
                    <td>{{ photo.gallery.title }}</td>
{#                    <td>{{ tags.title }}</td>#}
                    <td>
                        <a href="{{ url('photo_show', {id: photo.id}) }}" title="{{ 'action.view'|trans }}">
                            {{ 'action.view'|trans }}
                        </a>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a href="{{ url('photo_edit', {id: photo.id}) }}" title="{{ 'action.edit'|trans }}">
                            {{ 'action.edit'|trans }}
                        </a>
                        <a href="{{ url('photo_delete', {id: photo.id}) }}" title="{{ 'action.delete'|trans }}">
                            {{ 'action.delete'|trans }}
                        </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}