{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.gallery_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.gallery_list'|trans }}</h1>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <p>
        <a href="{{ url('gallery_create') }}" title="{{ 'action.create'|trans }}">
            {{ 'action.create'|trans }}
        </a>
    </p>
    {% endif %}
    {% if pagination is defined and pagination.items|length %}
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'gallery.title') }}</th>
                <th scope="col">{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for gallery in pagination.items %}
                <tr>
                    <td>{{ gallery.title }}</td>
                    <td>
                        <a href="{{ url('gallery_show', {id: gallery.id}) }}" title="{{ 'action.view'|trans }}">
                            {{ 'action.view'|trans }}
                        </a>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a href="{{ url('gallery_edit', {id: gallery.id}) }}" title="{{ 'action.edit'|trans }}">
                            {{ 'action.edit'|trans }}
                        </a>
                        <a href="{{ url('gallery_delete', {id: gallery.id}) }}" title="{{ 'action.delete'|trans }}">
                            {{ 'action.delete'|trans }}
                        </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}