{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.gallery_details'|trans({'%id%': gallery.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.gallery_details'|trans({'%id%': gallery.id|default('')}) }}</h1>
    {% if gallery is defined and gallery|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ gallery.id }}</dd>
            <dt>{{ 'label.title'|trans }}</dt>
            <dd>{{  gallery.title }}</dd>
            <dt>{{ 'label_photo'|trans }}</dt>
            <dd>
                {% for photo in gallery.photos %}
                    <a href="{{ url('photo_show', {id: photo.id}) }}" title="{{ 'photo_show'|trans }}">
                        {{ photo.title }}
                    </a><br>
                {%  endfor %}
            </dd>
        </dl>
        <p>
            <a href="{{ url('gallery_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}